.login-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}
.register-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}
.edit-form {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: white;
}
html {
    scroll-behavior: smooth;
}

:root {
    --animate-duration: 1000ms;
    --animate-delay: 1s;
  }

  .animate__animated {
    --animate-duration: 2000ms;
}